.coneHeadIdle {
  transition: 1s ease-in-out;
  background-image: url("../Images/zombies/coneHeadIdle/01.png");
  animation: coneHeadIdleAnimate 1s infinite alternate;
}

@keyframes coneHeadIdleAnimate {
  0% {
    background-image: url("../Images/zombies/coneHeadIdle/01.png");
  }

  8% {
    background-image: url("../Images/zombies/coneHeadIdle/02.png");
  }

  17% {
    background-image: url("../Images/zombies/coneHeadIdle/03.png");
  }

  25% {
    background-image: url("../Images/zombies/coneHeadIdle/04.png");
  }

  33% {
    background-image: url("../Images/zombies/coneHeadIdle/05.png");
  }

  42% {
    background-image: url("../Images/zombies/coneHeadIdle/06.png");
  }

  50% {
    background-image: url("../Images/zombies/coneHeadIdle/07.png");
  }

  58% {
    background-image: url("../Images/zombies/coneHeadIdle/08.png");
  }

  67% {
    background-image: url("../Images/zombies/coneHeadIdle/09.png");
  }

  75% {
    background-image: url("../Images/zombies/coneHeadIdle/10.png");
  }

  83% {
    background-image: url("../Images/zombies/coneHeadIdle/11.png");
  }

  91% {
    background-image: url("../Images/zombies/coneHeadIdle/12.png");
  }

  100% {
    background-image: url("../Images/zombies/coneHeadIdle/13.png");
  }
}
