.raIdle {
  transition: 1s ease-in-out;
  background-image: url("../Images/zombies/raIdle/01.png");
  animation: raIdleAnimate 1s infinite alternate;
}

@keyframes raIdleAnimate {
  0% {
    background-image: url("../Images/zombies/raIdle/01.png");
  }

  8% {
    background-image: url("../Images/zombies/raIdle/02.png");
  }

  17% {
    background-image: url("../Images/zombies/raIdle/03.png");
  }

  25% {
    background-image: url("../Images/zombies/raIdle/04.png");
  }

  33% {
    background-image: url("../Images/zombies/raIdle/05.png");
  }

  42% {
    background-image: url("../Images/zombies/raIdle/06.png");
  }

  50% {
    background-image: url("../Images/zombies/raIdle/07.png");
  }

  58% {
    background-image: url("../Images/zombies/raIdle/08.png");
  }

  67% {
    background-image: url("../Images/zombies/raIdle/09.png");
  }

  75% {
    background-image: url("../Images/zombies/raIdle/10.png");
  }

  83% {
    background-image: url("../Images/zombies/raIdle/11.png");
  }

  91% {
    background-image: url("../Images/zombies/raIdle/12.png");
  }

  100% {
    background-image: url("../Images/zombies/raIdle/13.png");
  }
}
